@model KTG.ViewModels.SetupViewModel
@{
	ViewBag.Title = "City Setup";
}

<h2>@Model.State</h2>
<div class="form-horizontal">
	@if (Model.Cities != null)
	{
		<div class="form-group">
			@Html.LabelFor(m => Model.Cities, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.Cities, Model.GetCitiesSelector(), "Select City", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Cities, "", new { @class = "text-danger" })
			</div>
		</div>
	}

	@using (Html.BeginForm("AddCity", "Setup"))
	{
		<h3>Add City</h3>
		@Html.HiddenFor(m => Model.State)
		<div class="form-group">
			@Html.LabelFor(m => Model.CityName, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.CityName, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
				<button style="display: inline-block" type="submit" value="Go">Add</button>
			</div>
		</div>

	}
</div>
<div  id="AddDivs" class="form-horizontal"
	<div id="UpdateCity" class="form-group">
		<div id="CityNameDiv"></div>
		<div id="CityButtons"></div>
	</div>
</div>
@section scripts{
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	<script>
		$("#Cities").change(function () {
			$("#CityNameDiv").empty();
			$("#CityButtons").empty();
			if ($("#Cities").val() != "") {
				var id = $("#Cities option:selected").val();
				var header = '<h3>' + $("#Cities option:selected").text() + '</h3>';
				var buttons = '<a href="/Setup/AddShul/?id='+ id +'" class="btn btn-default">Add Shul</a>' +
					'<a href="/Setup/AddHotel/?id=' + id +'" class="btn btn-default">Add Hotel</a>' +
					'<a href="/Setup/AddFoodEst/?id=' + id + '" class="btn btn-default">Add Hotel</a>' +
					'<a href="/Setup/AddActivities/?id=' + id + '" class="btn btn-default">Add Activities</a>';
				$("#CityNameDiv").append(header);
				$("#CityButtons").append(buttons);
			}
		});
	</script>

}
