@model KTG.Areas.Setup.ViewModels.ShulViewModel
@{
	ViewBag.Title = "ShulView";
}

<h2>Shul #@Model.Shul.ShulID</h2>
@Html.ActionLink("Back to List", "AllShuls", new { id = Model.Shul.IDCity.CityID })
<hr />
<h3>@Model.Shul.Name</h3>
<p>@Model.Shul.Address</p>
<p>
	@Model.Shul.City ,
	@Model.Shul.State
</p>
<p>@Model.Shul.Zip</p>
<p>@Model.Shul.Phone</p>
<p>@Model.Shul.Email</p>
<p>@Model.Shul.Website</p>
<p><strong>Rabbi </strong>@Model.Shul.Rabbi</p>
<p>@Model.Shul.Nusach</p>
<hr />

@Html.ActionLink("Edit", "EditShul", new { @class = "btn btn-default",  id = Model.Shul.ShulID }) |
@Html.ActionLink("Delete", "Delete", new {  @class = "btn btn-default", id = Model.Shul.ShulID })
<h3>Zmanim</h3>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Z.Days)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Z.Prayer)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Z.Time)
		</th>

	</tr>
	@if (Model.Shul.Zmanim != null)
	{
		foreach (var item in Model.Shul.Zmanim)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Days)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Prayer)
				</td>
				@if (item.Time != null)
				{
					<td>
						@Html.DisplayFor(modelItem => item.Time)
					</td>
				}
				else
				{
					<td>
						@Html.DisplayFor(modelItem => item.OtherTime)
					</td>
				}

				<td>
					@Html.ActionLink("Delete", "DeleteZman", new { id = item.ID })
				</td>
			</tr>
		}
	}
</table>

@using (Html.BeginForm("AddZman","Shul", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Zman</h4>
		<hr />
		@Html.HiddenFor(m => m.ZVM.ShulID)
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.ZVM.Time, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.ZVM.Time, new { @class = "form-control time" })
				@Html.ValidationMessageFor(model => model.ZVM.Time, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ZVM.OtherTime, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.ZVM.OtherTime, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.ZVM.OtherTime, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ZVM.Days, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.ZVM.Days, Model.ZVM.DaySelector(), new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ZVM.Days, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ZVM.Prayer, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.ZVM.Prayer, Model.ZVM.PrayerSelector(), new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ZVM.Prayer, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}


@section scripts{
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" type="text/css" />
	<script src="https://code.jquery.com/jquery-2.2.2.js"></script>
	<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.css" type="text/css" />
	<script>

		$(document).ready(function () {
			$(".time").timepicker();
		});
	</script>


}


